pyscard
pyserial
pytlv
cmd2 >= 1.5.0
jsonpath-ng
construct >= 2.10.70
bidict
pyosmocom>=0.0.12
pyyaml>=5.1
termcolor
colorlog
pycryptodomex
packaging
asn1tools
pyOpenSSL
klein
cmd2
requests
service_identity
smpp.pdu @ git+https://github.com/hologram-io/smpp.pdu
smpp.twisted3 @ git+https://github.com/jookies/smpp.twisted
qrcode
qrcode[pil]
smpplib
